//----Fonts----
$font-Base: 'Open Sans', sans-serif;
$font-Alt: 'Merriweather', serif;
//----Colors----
$color-White: #f0f1f1;
$color-Brown: #5e5322;
$color-Yellow: #fad648;
$color-Grey: #737373;
$color-DarkGray: #3c3c3c;
//----BG images----
$decoration: url('../assets/Decoration.svg')center no-repeat;
